.backgroundImage {
    background-image: url("../images/bgtexture.jpg");
    background-repeat: repeat;
    background-position: center;
}

.white {
    background-color: white;
}

.whiteBorder {
    border: 8px solid white;
}

.removeMargin {
    margin: 0 !important;
}

.fugazFont {
    font-family: Fugaz One;
    color: #5F002B !important;
}

.montaukFontParagraph {
    font-family: Montauk-Regular;
    font-size: 10px;
    color: #5F002B;
}

.montaukFontParagraphPrice{
    font-family: Montauk-Regular;
    font-size: 20px;
    color: #5F002B;
}

.montaukFontParagraphTitle {
    font-family: Montauk-Regular;
    font-size: 20px;
    color: #5F002B;
}

.hrColor {
    color: #5F002B;
    
}

